﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data;
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <span style="font-size:16px;color:black"><i class="fa fa-file"></i> Show List Files From FTP</span>
                    <ul class="nav navbar-right panel_toolbox">
                        <li style="float:right">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content nopadding">
                    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                        <div class="col-md-3 col-sm-8 col-xs-6 nopadding">
                            <div class="x_panel">
                                <form class="forms" action="@Url.Action("Index", "UploadFTP")" method="post">
                                    <div class="form-group">
                                        <label for="exampleInputName2"><span style="font-size: 12px !important;">Select Type Files</span></label>
                                        <select class="form-control select2" name="ReportCode" id="reportcode">
                                            @*<option value="" selected="selected" style="font-size: 12px !important;">សូមជ្រើសរើសរបាយការណ៍ </option>
                                            @{
                                                int i = 0;
                                                string selectedOption = ViewBag.ReportCode;
                                                foreach (DataRow dr in ViewBag.dtReport.Rows)
                                                {
                                                    i++;
                                                    if (selectedOption == @dr["Report_Code"].ToString().Replace(" ", ""))
                                                    {
                                                        <option value="@dr["Report_Code"].ToString().Replace(" ","")" selected="@(selectedOption == @dr["Report_Code"].ToString().Replace(" ","") ? "selected" : "")">@i-@dr["Name"].ToString() </option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@dr["Report_Code"].ToString().Replace(" ","")">@i-@dr["Name"].ToString() </option>
                                                    }

                                                }

                                            }*@
                                        </select>
                                    </div>
                                    @*<div class="form-group">
                                        <label style="font-size: 12px !important;">កាលបរិច្ឆេទរបាយការណ៍</label>
                                        <input type="text" class="form-control" name="datestart" id="datestart" placeholder="@DateTime.Now.ToString("yyyy-MM-dd")" autocomplete="off" value="@ViewBag.ReportDate">
                                    </div>
                                    <div class="form-group">
                                        <label style="font-size: 12px !important;">កាលបរិច្ឆេទរបាយការណ៍</label>
                                        <input type="text" class="form-control" name="dateend" id="dateend" placeholder="@DateTime.Now.ToString("yyyy-MM-dd")" autocomplete="off" value="@ViewBag.ReportDate">
                                    </div>*@
                                    <button type="submit" class="btn btn-primary" name="search" value="search" style="margin-top:3px"><i class="fa fa-search"></i> ស្វែងរក</button>
                                    <button type="submit" class="btn btn-success" name="download" value="download" style="margin-top:3px"><i class="fa fa-download"></i> ទាញយក</button>
                                    @*<a href="#" class="btn btn-success" style="margin-top:3px" id="downloadExcel"><i class="fa fa-download"></i> Download</a>*@
                                </form>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-6">
                            <div class="x_panel">
                                <table class="table table-hover">
                                    <thead>
                                        <tr style="font-size:12px" class="active">
                                            <td>No</td>
                                            <td>BrCode</td>
                                            <td>BrName</td>
                                            <td>Data Backup Name</td>                                           
                                        </tr>
                                        @{
                                                int a = 0;
                                                foreach (DataRow drzone in ViewBag.dtDatabase.Rows)
                                                {
                                                    a++;
                                                                                <tr style="font-size:12px;">
                                                                                    <td valign="middle">@a</td>
                                                                                    <td valign="middle">@drzone["BrCode"].ToString()</td>
                                                                                    <td valign="middle">@drzone["BrName"].ToString()</td>                                                                                    
                                                                                    <td>@drzone["DatabaseName"].ToString()</td>
                                                                                </tr>
                                                }
                                            }
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@Scripts.Render("~/Scripts/jquery.min.js")
<style>
    legend {
        font-size: 12px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 25px;
        font-size: 12px;
    }
</style>
<script>
    $(document).ready(function () {
        $('.select2').select();
        $("#datestart").datepicker({
            format: 'yyyy-mm-dd',
            changeMonth: true,
            changeYear: true,
            yearRange: '+50y:c+nn',
            maxDate: '-1d'
        });

        $("#dateend").datepicker({
            format: 'yyyy-mm-dd',
            changeMonth: true,
            changeYear: true,
            yearRange: '+50y:c+nn',
            maxDate: '-1d'
        });
    });
</script>