﻿
@{
    ViewBag.Title = "AddGis_Writteoff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using System.Data;
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css"
      rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing,geometry"></script>
<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <span style="font-size:16px;color:black"><i class="fa fa-edit"></i> របាយការណ៍ប្រមូលបំណុលលុបចេញពីបញ្ជី</span>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="breadcrumb flat row nopadding" style="margin-top:-10px;">
                        <a href="@Url.Action("Index", "WrittenOff")" class="active">ប្រមូលប្រចាំខែ</a>
                        <a href="@Url.Action("Sumbymoth", "WrittenOff")">សរុបតាមខែ</a>
                        <a href="@Url.Action("GlComTool", "WrittenOff")">ប្រៀបធៀបទឹកប្រាក់Tools និង GL MBWIN</a>
                    </div>
                    <p></p>
                    <button id="find_btn">Find Me</button>
                    <div id="result"></div>
                    
                </div>


            </div>
        </div>
    </div>
</div>
</div>
<!-- /page content -->

@Scripts.Render("~/Scripts/jquery.min.js")


<script>
    $(document).ready(function () {
        $("#find_btn").click(function () { //user clicks button
            if ("geolocation" in navigator) { //check geolocation available
                //try to get user current location using getCurrentPosition() method
                navigator.geolocation.getCurrentPosition(function (position) {
                    $("#result").html("Found your location <br />Lat : " + position.coords.latitude + " </br>Lang :" + position.coords.longitude);
                });
            } else {
                console.log("Browser doesn't support geolocation!");
            }
        });
    });

</script>
