﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKP_Reports</title>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Battambang:400,700&amp;subset=khmer" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Battambang:400,700&amp;subset=khmer">
    </noscript>
    <style type="text/css">
        body {
            font-family: Battambang !important;
            font-size: 14px !important;
        }

        font-face {
            font-family: Battambang !important;
            font-size: 14px !important;
        }

        font-face {
            font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
            font-size: 14px !important;
        }

        font-face {
            font-family: Battambang !important;
            font-size: 14px !important;
        }

        font-face {
            font-family: Battambang !important;
            font-size: 14px !important;
        }

        /*font-face {
            font-family: 'Khmer';
            font-style: normal;
            font-weight: 400;
            src: local('Khmer'), url(https://fonts.gstatic.com/s/khmer/v11/MjQImit_vPPwpG-Nrty0eQ.woff2) format('woff2');
            unicode-range: U+1780-17FF, U+200C, U+25CC;
        }*/
       .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        }
        
    </style>
    </style>

    @using System.Data

    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap-progressbar-3.3.4.min.css")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/custom.min.css")
    @Styles.Render("~/Content/custom_page.css")
    @Styles.Render("~/Content/bootstrap_datepicker.min.css")
    @Styles.Render("~/Content/select2.min.css")
    @Scripts.Render("~/Scripts/jquery.min.js")
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("index","Home")" class="site_title"><img src="~/assets/images/smail_dnn_icon.ico" alt="..."> <span>@Session["System_Name"]</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    @*<div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="~/assets/images/img.jpg" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Welcome,</span>
                                <h2>John Doe</h2>
                            </div>
                        </div>*@
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            @*<h3>General</h3>*@
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> ទំព័រដើម <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                                    </ul>
                                </li>
                                @foreach (DataRow rmain in ViewBag.manin_menu.Rows)
                                {
                                    <li>
                                        <a><i class="fa fa-@rmain["Icon"].ToString()"></i> @rmain["func_desc_kh"].ToString() <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">

                                            @foreach (DataRow row in ViewBag.sub_manin.Rows)
                                            {
                                                if (rmain["functype"].ToString() == row["parent_id"].ToString())
                                                {
                                                    <li><a href="@Url.Action(row["action"].ToString(),@row["controller_name"].ToString())">@row["func_desc_kh"].ToString()</a></li>
                                                }

                                            }


                                        </ul>
                                    </li>
                                }



                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="fa fa-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="fa fa-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="@Url.Action("LogOut", "Login")">
                            <span class="fa fa-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">

                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/assets/images/user.png" alt="">@Session["UserName"]
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    @*<li>
                                            <a href="javascript:;">
                                                <span class="badge bg-red pull-right">50%</span>
                                                <span>Settings</span>
                                            </a>
                                        </li>
                                        <li><a href="javascript:;">Help</a></li>*@
                                    <li><a href="@Url.Action("LogOut", "Login")"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>


                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">0</span>
                                </a>

                                @*<ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                        <li>
                                            <a>
                                                <span class="image"><img src="~/assets/images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="~/assets/images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="~/assets/images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="~/assets/images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <div class="text-center">
                                                <a>
                                                    <strong>See All Alerts</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>*@
                            </li>
                            <li class="nohover">
                                <a class="nohover">Report Date:<span style="margin-left:10px;" class="badge badge-secondary">@ViewBag.CurrRunDate</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            @RenderBody()
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    STSK GROUP <a href="https://colorlib.com">2019</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>


    
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/bootstrap-progressbar.min.js")
    @Scripts.Render("~/Scripts/custom.js")
    @Scripts.Render("~/Scripts/sweetalert.min.js")
    @Scripts.Render("~/Scripts/datepicker.min.js")
    @Scripts.Render("~/Scripts/select2/dist/js/select2.full.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
