﻿
@{
    ViewBag.Title = "LoanDisb";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data;
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <span style="font-size:16px;color:black"><i class="fa fa-edit"></i>របាយការណ៍ Loan Disbursement > 10M </span>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @*<fieldset class="scheduler-border">
                        <legend>ព័ត៌មានស្វែងរក</legend>*@
                    <form class="form-inline" action="@Url.Action("LoanDisb", "Reports")" method="get">
                        <div class="form-group">
                            <label for="exampleInputEmail2">Mode:</label>
                            <select class="form-control select2" id="mode" name="mode">
                                <option value="1">By DisbursementDate </option>
                                <option value="2">By StartReportDate/EndReportDate </option>
                                @*<option value="3">BY ReportDate/BrCode </option>
                <option value="4">BY StartReportDate/EndReportDate/BrCode </option>
                <option value="5">BY ReportDate/BrCode/CoId</option>
                <option value="6">By StartReportDate/EndReportDate/BrCode/CoId </option>
                <option value="7">By StartReportDate/EndReportDate/BranchType </option>
                <option value="8">By ReportDate/BranchType </option>*@
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">ឈ្មោះសាខា:</label>
                            <select class="form-control select2" name="BrCode">
                                @{
                                    string selectedOption = ViewBag.BrCode;
                                    foreach (DataRow dr in ViewBag.dt_ManageZone.Rows)
                                    {
                                        if (selectedOption == dr["BrCode"].ToString())
                                        {
                                            <option value="@dr["BrCode"].ToString()" selected="@(selectedOption == dr["BrCode"].ToString() ? "selected" : "")">@dr["BrLetter"].ToString() </option>
                                        }
                                        else
                                        {
                                            <option value="@dr["BrCode"].ToString()">@dr["BrLetter"].ToString() </option>
                                        }
                                    }
                                }
                                <option value="ALL">All</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputName2">ថ្ងៃចាប់ផ្ដើម:</label>
                            <input type="text" class="form-control" id="datestart" name="datestart" autocomplete="off" placeholder="@DateTime.Now" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="dateend" name="dateend" autocomplete="off" placeholder="@DateTime.Now" />
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="reportdate" name="reportdate" autocomplete="off" placeholder="@DateTime.Now" />
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="disbdate" name="disbdate" autocomplete="off" placeholder="@DateTime.Now" />
                        </div>

                        @*<div class="form-group">
            <label for="exampleInputEmail2">CoId :</label>
            <select class="form-control select2" id="CoId"name="CoId">
                @{
                        string selectedOption = ViewBag.BrCode;
                        foreach (DataRow dr in ViewBag.dt_ManageZone.Rows)
                        {
                            if (selectedOption == dr["BrCode"].ToString())
                            {
                                <option value="@dr["BrCode"].ToString()" selected="@(selectedOption == dr["BrCode"].ToString() ? "selected" : "")">@dr["BrLetter"].ToString() </option>
                            }
                            else
                            {
                                <option value="@dr["BrCode"].ToString()">@dr["BrLetter"].ToString() </option>
                            }
                        }
                    }
                <option value="ALL">All</option>
            </select>
        </div>


        <div class="form-group">
            <label for="exampleInputEmail2">BranchType :</label>
            <select class="form-control select2" id="branchtype" name="BranchType">
                @{
                        string selectedOption = ViewBag.BrCode;
                        foreach (DataRow dr in ViewBag.dt_ManageZone.Rows)
                        {
                            if (selectedOption == dr["BrCode"].ToString())
                            {
                                <option value="@dr["BrCode"].ToString()" selected="@(selectedOption == dr["BrCode"].ToString() ? "selected" : "")">@dr["BrLetter"].ToString() </option>
                            }
                            else
                            {
                                <option value="@dr["BrCode"].ToString()">@dr["BrLetter"].ToString() </option>
                            }
                        }
                    }
                <option value="ALL">All</option>
            </select>
        </div>*@

                        <button type="submit" class="btn btn-primary" value="submit" name="submit" style="margin-top:3px"><i class="fa fa-search"></i> ស្វែងរក</button>
                        <button type="submit" class="btn btn-success" value="download" name="download" style="margin-top:3px"><i class="fa fa-download"></i>ទាញយក</button>
                        @*<a href="#" class="btn btn-primary" style="margin-top:3px" id="downloadExcel"><i class="fa fa-search"></i> ស្វែងរក</a>*@
                    </form>
                    @*</fieldset>*@
                    @*<fieldset class="scheduler-border">
                            <legend>របាយការណ៍ Daily Loan Listing</legend>
                            <div class="row nopadding">
                                <div class="pull-right">
                                    <button class="btn btn-primary"><i class="fa fa-print"></i> បោះពុម្ភ</button>
                                </div>
                            </div>
                            <div class="row nopadding">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="active" style="white-space: nowrap;overflow: hidden;border-bottom:2pt solid #22d4ae;">
                                            <tr>
                                                <th>No Credit Officer<sup>o</sup></th>
                                                <th>#Loan Disbursed</th>
                                                <th>Value Loan Disbursed</th>
                                                <th>#Active Borrower</th>
                                                <th>Value Loan Oustanding</th>
                                                <th>#PAR1Day</th>
                                                <th>Value PAR 1Day</th>
                                                <th>#PAR 7Day</th>
                                                <th>Value PAR 7Day</th>
                                                <th>PAR 30Day</th>
                                                <th>Value PAR 30Day</th>
                                                <th>#New Loan</th>
                                                <th>#Re-Loan</th>
                                                <th>Value New Loan</th>
                                                <th>Value Re-Loan</th>
                                            </tr>

                                        </thead>
                                         @{
                                            foreach (DataRow dr in ViewBag.dt_Report.Rows)
                                            {

                                        <tr style="white-space: nowrap;overflow: hidden;">
                                            <td>@dr["LNGCO"].ToString()</td>
                                            <td>@dr["#ACTIVE_BORROWER"].ToString()</td>
                                            <td>@dr["Value_Loan_OutStanding"].ToString()</td>
                                            <td>@dr["#Loan_Disbursed"].ToString()</td>
                                            <td>@dr["Value_Loan_Disbursed"].ToString()</td>
                                            <td>@dr["#PAR_1Day"].ToString()</td>
                                            <td>@dr["Value_PAR_1Day"].ToString()</td>
                                            <td>@dr["#PAR_7Day"].ToString()</td>
                                            <td>@dr["Value_PAR_7Day"].ToString()</td>
                                            <td>@dr["#PAR_30Day"].ToString()</td>
                                            <td>@dr["Value_PAR_30Day"].ToString()</td>
                                            <td>@dr["#New_Loan"].ToString()</td>
                                            <td>@dr["#Re_Loan"].ToString()</td>
                                            <td>@dr["Value_New_Loan"].ToString()</td>
                                            <td>@dr["Value_Re_Loan"].ToString()</td>

                                        </tr>
                                            }
                                         }
                                        <tbody></tbody>
                                    </table>
                                </div>
                             </div>
                        </fieldset>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@Scripts.Render("~/Scripts/jquery.min.js")
<style>
    legend {
        font-size: 12px;
    }
</style>
<script>
    $(document).ready(function () {

        var s2 = $("#mode").select2({
            placeholder: "Choose Mode",
            tags: true
        });

        var vals = [];

        vals.forEach(function (e) {
            if (!s2.find('option:contains(' + e + ')').length)
                s2.append($('<option>').text(e));
        });

        s2.val(vals).trigger("change");

        $('#datestart').hide();
        $('#dateend').hide();
        $('#reportdate').hide();
        $('#disbdate').hide();

        $('#mode').change(function () {

            $('#datestart').hide();
            $('#dateend').hide();
            $('#reportdate').hide();
               $('#disbdate').hide();

            var test = [];
            $.each($('#mode :selected'), function () {
                test.push($(this).val());
                if ($(this).val() == 1) {
                    $('#disbdate').show();
                }
                if ($(this).val() == 2) {
                    $('#datestart').show();
                    $('#dateend').show();
                }
                if ($(this).val() == 3) {
                    $('#reportdate').show();
                }

            })

        }
        );
    });
    jQuery(document).ready(function () {

        $("#datestart").datepicker({
            format: 'yyyy-mm-dd',
            changeMonth: true,
            changeYear: true,
            yearRange: '+50y:c+nn',
            maxDate: '-1d'
        });
        $("#dateend").datepicker({
            format: 'yyyy-mm-dd',
            changeMonth: true,
            changeYear: true,
            yearRange: '+50y:c+nn',
            maxDate: '-1d'
        });

        $("#reportdate").datepicker({
            format: 'yyyy-mm-dd',
            changeMonth: true,
            changeYear: true,
            yearRange: '+50y:c+nn',
            maxDate: '-1d'
        });
        $("#disbdate").datepicker({
            format: 'yyyy-mm-dd',
            changeMonth: true,
            changeYear: true,
            yearRange: '+50y:c+nn',
            maxDate: '-1d'
        });

    });
    var CSRF_TOKEN = $('meta[name="csrf-token"]').attr('content');
    $("#downloadExcel").on("click", function () {
        var reportcode = $("#reportcode").val();
        window.location.href = "/Reports/ExportExcel?reportcode=" + reportcode;
        //$.ajax({
        //    url: '/Reports/ExportExcel',
        //    method: "POST",
        //    data: { CSRF_TOKEN: CSRF_TOKEN, reportcode: reportcode },
        //    success: function (data) {
        //        console.log(data);

        //        //swal("បញ្ជាក់!", "លោកអ្នកលុបទទួលបានជោគជ័យ.", {
        //        //    icon: "success",
        //        //    timer: 1400,
        //        //    buttons: false,
        //        //});
        //        //window.location.href = "/Reports";

        //    }
        //});
    });
</script>

