﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data;
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <span style="font-size:16px;color:black"><i class="fa fa-edit"></i> ព័ត៌មានលម្អិតផ្ទាល់ខ្លួនរបស់អតិថិជន</span>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form action="@Url.Action("Enquiry", "ConsumerEnquiry")" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group col-sm-4 nopadding">
                                    <label for="exampleInputEmail1">ប្រភេទអត្តសញ្ញាណប័ណ្ណ</label>
                                    <select class="form-control" id="IdType">
                                        <option value="1">អត្តសញ្ញាណប័ណ្ណ</option>
                                        <option value="2">សៀវភៅគ្រួសារ</option>
                                        <option value="3">សៀវភៅស្នាក់នៅ</option>
                                        <option value="4">សំបុត្រកំណើត</option>
                                        <option value="1"></option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="exampleInputEmail1">លេខអត្តសញ្ញាណប័ណ្ណ</label>
                                    <input type="text" class="col-sm-2 form-control" placeholder="លេខអត្តសញ្ញាណប័ណ្ណ">
                                </div>
                                <div class="form-group col-sm-4 nopadding">
                                    <div class="col-sm-6 ">
                                        <label for="exampleInputEmail1">ភេទ</label>
                                        <select class="form-control" id="Gender">
                                            <option value="M">ប្រុស</option>
                                            <option value="F">ស្រី</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 nopadding">
                                        <label for="exampleInputEmail1">ថ្ងៃខែ​ឆ្នាំ​កំណើត</label>
                                        <input type="text" class="col-sm-2 form-control" id="dob" placeholder="ថ្ងៃខែ​ឆ្នាំ​កំណើត">
                                    </div>


                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group col-sm-4 nopadding">
                                    <label for="exampleInputEmail1">នាមត្រកូល (ខ្មែរ) </label>
                                    <input type="text" class="col-sm-2 form-control" id="dob" placeholder="នាមត្រកូល">
                                </div>

                                <div class="form-group col-sm-4">
                                    <label for="exampleInputEmail1">នាមខ្លួន (ខែ្មរ)</label>
                                    <input type="text" class="col-sm-2 form-control" id="dob" placeholder="នាមខ្លួន">
                                </div>

                                <div class="form-group col-sm-4 nopadding">
                                    <div class="col-sm-6">
                                        <label for="exampleInputEmail1">នាមត្រកូល (អង់គ្លេស)</label>
                                        <input type="text" class="col-sm-2 form-control" id="dob" placeholder="Family Name">
                                    </div>
                                    <div class="col-sm-6 nopadding">
                                        <label for="exampleInputEmail1">នាមខ្លួន (អង់គ្លេស)</label>
                                        <input type="text" class="col-sm-2 form-control" id="dob" placeholder="First Name">
                                    </div>

                                </div>

                            </div>
                            <div class="col-lg-12">

                                <div class="form-group col-sm-4 nopadding">
                                    <label for="exampleInputEmail1">ទីកន្លែងកំណើតខេត្ត</label>
                                    <select class="form-control" id="dobprovince">
                                        <option value="0">ជ្រើសរើសខេត្ត</option>
                                        @{
                                            foreach (DataRow dr in ViewBag.dtLocationCode.Rows)
                                            {
                                                <option value="@dr["PCode"].ToString()">@dr["Province"].ToString() </option>
                                            }
                                        }

                                    </select>
                                </div>

                                <div class="form-group col-sm-4">
                                    <label for="exampleInputEmail1">ទីកន្លែងកំណើតស្រុក</label>
                                    <select class="form-control" id="dobDistrict">
                                        <option value="0">ជ្រើសរើសស្រុក</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="exampleInputEmail1">ទីកន្លែងកំណើតឃុំសង្កាត់</label>
                                    <select class="form-control" id="dobCommune">
                                        <option value="0">ជ្រើសរើសឃុំសង្កាត់</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6"><button type="submit" value="submit" name="submit" class="btn btn-primary"><i class="fa fa-search"></i> ស្វែងរក</button></div>
                        </div>
                    </form>
                    @{
                        if (ViewBag.message == "No")
                        { 
                        }
                        else
                        {
                            <div class="col-lg-12">
                                <div class="alert alert-info" role="alert">@ViewBag.message</div>
                            </div>
                        }
                    }                    
                </div>                
            </div>  
        </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
@Scripts.Render("~/Scripts/jquery.min.js")
<script>
            $(document).ready(function () {
                $('#IdType').select2();
                $('#Gender').select2();
                $('#dobprovince').select2();
                $('#dobDistrict').select2();
                $('#dobCommune').select2();
            });
            jQuery(document).ready(function () {

                $("#datestart").datepicker({
                    format: 'yyyy-mm-dd',
                    changeMonth: true,
                    changeYear: true,
                    yearRange: '+50y:c+nn',
                    maxDate: '-1d'
                });
                $("#dob").datepicker({
                    format: 'yyyy-mm-dd',
                    changeMonth: true,
                    changeYear: true,
                    yearRange: '+50y:c+nn',
                    maxDate: '-1d'
                });
            });
    $(document).ready(function () {
        var _token = $('meta[name="csrf-token"]').attr('content');
        //check branch name
        /*This mothed we create for get Commune code*/
        $("#dobDistrict").on("change", function ()
        {
            //console.log(dbcount);
            var DistrictCode = $(this).val().trim();
            $.ajax(
            {
                method: 'POST',
                url: "@Url.Action("DisplayCommune", "ConsumerEnquiry")",
                //dataType: "JSON",
                data: {
                    _token: _token,
                    DistrictCode: DistrictCode
                },
                success: function (data) {
                    $("#dobCommune").html("");
                    $("#dobCommune").html(data);
                },
                error: function (data) {
                $("#dobDistrict").html("");
                $("#dobCommune").html("");
                }
            });
        });

        /*This mothed create for get district code with ajax*/
        $("#dobprovince").on("change", function ()
        {
            $("#dobDistrict").html("");
            $("#dobCommune").html("");
            //console.log(dbcount);
            var ProvinceCode = $(this).val().trim();
            $.ajax(
            {
                method: 'POST',
                url: "@Url.Action("DisplayDistrict", "ConsumerEnquiry")",
                //dataType: "JSON",
                data: {
                    _token: _token,
                    ProvinceCode: ProvinceCode
                },
                    success: function (data) {  
                    $("#dobDistrict").html();                  
                    $("#dobDistrict").html(data);
                },
                error: function (data) {
                    $("#dobDistrict").html();                  
                }
            });
        });
        
    });

</script>
<style>
    legend {
        font-size: 12px;
    }

    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }
</style>
