﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data;
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <img src="~/assets/images/report_logo.png" />
                    <span style="font-size:16px;color:black">គ្រឹះស្ថាន​មីក្រូ​ហិរញ្ញវត្ថុ ​សហគ្រិន​ភាព​ ភី​អិល​ស៊ី</span>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-6 col-sm-4 col-xs-12 nopadding">
                        <div class="x_panel tile">
                            <table class="table table-bordered">
                                <tr>
                                    <td><span style="font-weight:bold;">Applicant Type</span></td>
                                    <td colspan="2"><span style="font-weight:bold;">Primary</span></td>
                                </tr>
                                <tr>
                                    <td>ID Type and Number</td>
                                    <td>National ID 170911310</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>
                                <tr>
                                    <td colspan="3"><span style="font-weight:bold;">Khmer Name</span></td>
                                </tr>

                                <tr>
                                    <td>Family Name</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>First Name</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td colspan="3"><span style="font-weight:bold;">English Name</span></td>
                                </tr>

                                <tr>
                                    <td>Family Name</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>First Name</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Date of Birth</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Place of Birth Country</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>
                                <tr>
                                    <td>Place of Birth Province</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Place of Birth District</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Place of Birth Commune</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Gender</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                        <div class="x_panel tile">
                            <table class="table table-bordered">
                                <tr>
                                    <td><span style="font-weight:bold;">Total Accounts</span></td>
                                    <td colspan="2"><span style="font-weight:bold;">Primary</span></td>
                                </tr>
                                <tr>
                                    <td>Normal Accounts</td>
                                    <td>National ID 170911310</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Delinquent Accounts</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Closed Accounts</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Write Off Accounts</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Total Limits</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Total Liabilities</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Total Write Off Amounts</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>
                                <tr>
                                    <td>Outstanding Write Off Balance</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Place of Birth District</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Place of Birth Commune</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Gender</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                        <div class="x_panel tile">
                            <table class="table table-bordered">
                                <tr>
                                    <td><span style="font-weight:bold;">Total Accounts</span></td>
                                    <td colspan="2"><span style="font-weight:bold;">Primary</span></td>
                                </tr>
                                <tr>
                                    <td>Normal Accounts</td>
                                    <td>National ID 170911310</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Delinquent Accounts</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Closed Accounts</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Write Off Accounts</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Total Limits</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Total Liabilities</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Total Write Off Amounts</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>
                                <tr>
                                    <td>Outstanding Write Off Balance</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Place of Birth District</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Place of Birth Commune</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>

                                <tr>
                                    <td>Gender</td>
                                    <td>e</td>
                                    <td>(Family Book 272217នបខបប)</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/jquery.min.js")

<style>
    legend {
        font-size: 12px;
    }

    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }
</style>


