﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data;
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <span style="font-size:16px;color:black"><i class="fa fa-edit"></i> បញ្ជីររបាយការណ៍</span>
                    <ul class="nav navbar-right panel_toolbox">
                        <li style="float:right">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>                       
        
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h5>ជ្រើសរើសឈ្មោះរបាយការណ៍</h5>                                    
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">                                    
                                </div>
                            </div>
                        </div>


                        <div class="col-md-8 col-sm-8 col-xs-12 nopadding">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_title">                                                                                     
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">                                            
                                        </div>
                                    </div>
                                </div>

                            </div>                           
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@Scripts.Render("~/Scripts/jquery.min.js")


